.tidligereVersjoner__tittel {
  .typo-undertittel-mixin();
  margin: 0;
}

.tidligereVersjoner a {
  color: @navBla;
  border-bottom: 1px solid @navGra40;

  &:hover,
  &:focus {
    border-bottom-color: @navBla;
  }
}

.tidligereVersjoner__liste {
  margin-bottom: 0;

  li {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
