@import "nav-frontend-core/less/_variabler.less";
@import "nav-frontend-core/less/_mixins.less";
@import "nav-frontend-core/less/_elevasjon.less";
@import "nav-frontend-core/less/print.less";
@import "nav-frontend-core/less/scaffolding.less";
@import "nav-frontend-core/less/hide-text.less";
@import "nav-frontend-core/less/utilities.less";
@import "nav-frontend-core/less/responsive-utilities.less";

@import "nav-frontend-lenker-style/src/lenker-style";
@import "nav-frontend-knapper-style/src/index";
@import "nav-frontend-paneler-style/src/mixins";
@import "nav-frontend-typografi-style/src/index";

@import "_mixins";
@import "_antallNytt";
@import "_avstander";
@import "_gridUtils";
@import "_knapperad";
@import "_navigasjonspanel";
@import "_personKort";
@import "_pdfbilde";
@import "_tilbakelenke";
@import "_typografi";
@import "_utils";

@greenLight: #63b282;
@blueLight: #c3ddf4;
@textColor: #3e3832;
@bakgrunnGraa: #efefef;
@lysGraEtikettBakgrunn: #cec9c5;

body {
  background-color: #f1f1f1;
}

.medHjelpetekst {
  display: flex;
  position: relative;
  padding-right: 2em;
}

.knapp--enten,
.knapp--standard {
  margin-right: 2em;
}
