@import "_mixins";
@import "_antallNytt";
@import "_gridUtils";
@import "_knapperad";
@import "_navigasjonspanel";
@import "_personKort";
@import "_tilbakelenke";
@import "_typografi";
@import "_utils";

@navGra40: #a0a0a0;
@navGra60: #6a6a6a;
@white: #fff;
@navRod: #c30000;
@navMorkGra: #262626;
@navOransjeLighten40: #ffc166;
@navBla: #0067c5;

@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-md: 992px;
@screen-md-min: @screen-md;

@font-family: "Source Sans Pro", Arial, sans-serif;
@remUnit: 16;
@fontWeightNormal: 400;
.typo-etikett-liten-mixin() {
  font-family: @font-family;
  font-size: (14rem / @remUnit);
  line-height: (20rem / @remUnit);
  font-weight: @fontWeightNormal;
}

body {
  background-color: #f1f1f1;
}

.medHjelpetekst {
  display: flex;
  position: relative;
  padding-right: 2em;
}

.knapp--enten,
.knapp--standard {
  margin-right: 2em;
}
