.contextContainer__alertstripe {
  margin: 1em 0;
}

.contextContainer__modal {
  min-width: 640px;
  padding: 1.5rem;
}

.contextContainer__modal--innhold {
  text-align: center;
  max-width: 540px;

  .contextContainer__modal--header {
    font-weight: 400;
  }

  .typo-normal {
    color: @navGra80;
  }
}

.contextContainer__modal--knapper {
  display: flex;
  margin: auto;
  flex-direction: column;
  :not(:first-child) {
    margin-top: 0.75rem;
  }
  :first-child {
    margin-top: 1rem;
  }

  * {
    margin: auto;
  }
}