.contextContainer__alertstripe {
  margin: 1em 0;
}

.contextContainer__modal {
  max-width: 640px;
}
.contextContainer__modal--knapper {
  display: flex;
  flex-direction: column;
  :not(:first-child) {
    margin-top: 0.75rem;
  }
  :first-child {
    margin-top: 1rem;
  }
}